<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true">

  <testsuites>
    <testsuite name="AllTests">
      <file>tests/test-upload.php</file>
    </testsuite>
  </testsuites>
  
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="false">
      <file>constants.php</file>
      <file>foogallery-importter.php</file>
      <file>mailgun-downloader.php</file>    
      <file>settings.php</file>
      <file>email-media-import.php</file>   
      <file>image-editor.php</file>
      <file>media-importter.php</file>   
      <file>text-processor.php</file>
    </whitelist>
  </filter>
  
</phpunit>
