<?xml version="1.0" encoding="UTF-8"?>
<phpunit verbose="true">

  <testsuites>
    <testsuite name="AllTests">
      <file>tests/test-upload.php</file>
    </testsuite>
  </testsuites>
  
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <exclude>
        <directory suffix=".php">.</directory>
      </exclude>
    </whitelist>
    <blacklist>
      <directory>vendor</directory>
      <directory>tests</directory>
    </blacklist>
  </filter>
  
</phpunit>
